.home {
  text-align: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
  }
}