.header {
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(55, 76, 103, 0.5);
  backdrop-filter: saturate(180%) blur(20px);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .h1 {
    font-family: Montserrat, sans-serif;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 300;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      font-size: 1.2rem;
      width: 100%;
      justify-content: space-between;
    }
  }

  .logo {
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
  }

  .nav {
    display: flex;

    .link {
      color: white;
      margin: 0 15px;
      text-decoration: none;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .menu {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }

    .menuIcon {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      gap: 5px;
      padding: 10px;
    }

    .line {
      width: 30px;
      height: 4px;
      background: white;
      transition: 0.3s;
    }

    .menuToggle {
      display: none;
    }

    .menuNav {
      z-index: 1001;
      display: none;
      position: absolute;
      top: 80px;
      right: 0;
      height: calc(100vh - 80px);
      background: #273e59;
      padding: 20px;
      width: 100%;
      text-align: left;
      flex-direction: column;
      animation: fadeInLeft 0.2s ease-out forwards;
      overflow: auto;
      padding-bottom: 100px;
    }

    .menuLink {
      display: block;
      padding: 15px 0;
      font-size: 1.5rem;
      color: white;
      text-decoration: none;
      border-bottom: 1px solid #3a5678;
      animation: fadeInLeft 0.2s ease-out forwards;
      opacity: 0;

      &:nth-child(1) {
        animation-delay: 0.1s;
      }
      &:nth-child(2) {
        animation-delay: 0.12s;
      }
      &:nth-child(3) {
        animation-delay: 0.13s;
      }
      &:nth-child(4) {
        animation-delay: 0.14s;
      }
      &:nth-child(5) {
        animation-delay: 0.15s;
      }
      &:nth-child(6) {
        animation-delay: 0.16s;
      }
      &:nth-child(7) {
        animation-delay: 0.17s;
      }
      &:nth-child(8) {
        animation-delay: 0.18s;
      }
      &:nth-child(9) {
        animation-delay: 0.19s;
      }
      &:nth-child(10) {
        animation-delay: 0.2s;
      }
      &:nth-child(11) {
        animation-delay: 0.21s;
      }
      &:nth-child(12) {
        animation-delay: 0.22s;
      }

      &:hover {
        color: #f1c40f;
      }
    }

    .showMenu {
      display: flex;
    }
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

.subHeader {
  z-index: 1000;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  background: rgba(241, 196, 15, 0.7);
  backdrop-filter: saturate(180%) blur(20px);
  color: white;
  padding: 15px;

  @media screen and (max-width: 768px) {
    display: none;
  }

  .subNav {
    display: flex;
    justify-content: center;

    .subLink {
      color: rgb(13, 13, 13);
      margin: 0 15px;
      text-decoration: none;
      font-weight: 400;

      &:hover {
        text-decoration: none;
        color: rgb(13, 13, 13);
      }
    }
  }
}